<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <div class="menu">
        <ul>
            <li>
                <i class="fas fa-brain icon-1"></i>
            </li>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Shop</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
    </div>

    <div class="wrapper">
        <div class="header-wrapper">
            <div class="header">
                <h1>Hello World!</h1>
                <h3>Learn To Code At Coding Dojo</h3>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="sub">
            <h2>Subscribe to newsletter</h2>
        </div>
        <div class="form">
            <form action="">
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Last Name">
                <input type="text" placeholder="Email">
                <textarea cols="30" rows="5"></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <div class="footer">
        <div class="content-col">
            <i class="fas fa-brain icon-1"></i>
        </div>
        <div class="content-col">
            <ul>
                <li> 
                    <a href="">Home</a>
                </li>
                <li> 
                    <a href="">Shop</a>
                </li>
                <li> 
                    <a href="">about</a>
                </li>
                <li> 
                    <a href="">Contact</a>
                </li>
            </ul>
        </div>
        <div class="content-col">
            <ul>
                <li> 
                    <a href="">Terms and Conditions</a>
                </li>
                <li> 
                    <a href="">Legal</a>
                </li>
                <li> 
                    <a href="">Join The Team</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright © 2021 Jake From Coding Dojo</p>
    </div>
</body>
</html>