* {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
body {
    transition: .2s;
    padding-top: 50px;
}
.dark-mode {
    background: #242424;
    color: white;
    transition: .2s;
}
.dark-mode a {
    color: white;
    text-decoration: none;
}
.fas {
    background: none;
}
h1 {
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
}
h2 {
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
}
h3 {
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
}
h4 {
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
}
p {
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
}
a {
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

/* MENU */
.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li {
    padding: 10px 20px;
    margin: 0px 10px;
    border-top: 2px solid transparent;

    border-bottom: 2px solid transparent;
    transition: .5s;

}
.dark-mode .menu li:hover {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    transition: .5s;
}
.menu li:hover {
    border-top: 2px solid #242424;
    border-bottom: 2px solid #242424;
    transition: .5s;
}

.top-section h2 {
    margin: 50px;
}

/* FOOTER */
.footer {
    background: #242424;
    color: white;
    padding: 50px;
    margin-top: 100px;
}
.footer .left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer a {
    color: white;
    padding: 10px 20px;
}

.dark-mode .footer {
    background: white;
    color: #242424;
    transition: .2s;
}
.dark-mode .footer a {
    color: #242424;
}

/* .footer a:hover {
    border-top: 2px solid #242424;
    border-bottom: 2px solid #242424;
    transition: .3s;
}
.dark-mode .footer a:hover {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    transition: .3s;
} */