.container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-section {
    padding: 25px;
}
.top-section p {
    padding: 10px;
}
.top-section button {
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 15px;
    border: 3px solid #242424;
    background: #242424;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.3s;
}
.top-section button:hover {
    cursor: pointer;
}
.dark-mode .top-section button {
    border: 3px solid white;
    background: white;
    color: #242424;
    transition: 0.3s;    
}
